main {
    /* min-width: 15rem;
    min-height: 16rem; */
    background-image: url(../images/back-image-jingliu.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100vh;
    width: 100%;
}

main .character {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 70%;
    z-index: 0;
}

main .character img {
    position: fixed;
    object-fit: contain;
    margin-top: -10rem;
}

main .info {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

main .info ul {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 6rem;
    padding: 0 1.2rem;

    height: 100%;
    gap: 2rem;
}

main .info ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .info h3 {
    margin-top: 20px;
    color: white;
    font-size: large;
}

main .info ul button {
    cursor: pointer;
    height: 130px;
    width: 130px;

    border-radius: 50%;
    border-style: groove;
    border-color: azure;
    position: relative;
    z-index: 1;
}

main .info ul button img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border-color: black;
    border-style: groove;
}

main  .discriptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    gap: 4rem;
}

main .discriptions h2 {
    color: white;
    font-size: xxx-large;
} 

main .info .discriptions p {
    color: white;
    font-size: larger;
}

main .discriptions .name-element {
    display: flex;
    justify-content: start;
    align-items: center;
    
    gap: 2rem;
}

main .discriptions .name-element img {
    height: 6rem;
    margin: 2rem 0;
}

main .discriptions img {
    height: 150px;
}

main .discriptions .icons {
    display: flex;
    justify-content: center;
}

main .discriptions .icons img {
    height: 60px;
    filter: invert(1);
    margin-right: -4rem;
    z-index: 2;
    
}

main .discriptions .icons video {
    z-index: 1;
    height: 100%;
    width: 100%;
    border-top-right-radius: 6rem;
    border: 2px solid gray;
}
