
/* CHARACTERS */

.characters .character {
    height: 100vh;
    width: 100vw;

    margin-left: 400px;
    margin-top: -200px;

    z-index: 0;
    display: none;
}

.characters .character img {
    filter: brightness(80%);
}

.characters .character.selected {
    display: block;
}

.characters .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    max-height: 80%;
    width: 25%;
    gap: 50px;

    margin-left: 20%;
    position: absolute;
    top: 150px;
    left: 0;

    color: white;
}

.characters .content .element-name {
    display: flex;
    align-items: center;
}

.characters .content .text {
    display: flex;
    flex-direction: column;

    width: 110%;
    font-size: large;
    gap: 10px;
}

.characters .content video {
    height: 100%;
    width: 100%;

    border-top-right-radius: 100px;
    border: 2px solid gray;
    z-index: 1;
}

/* BUTTONS */

.buttons {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    min-height: 100vh;
    width: 180px;
    gap: 50px;
    margin-left: 5%;

    background-color: rgba(0, 0, 0, 0.4);
}

.buttons .button {
    border-style: double;
    border-color: gray;
    background: none;
    cursor: pointer;
    border-radius: 50%;

    transition: 0.5s;
}

.buttons .button.selected {
    transform: scale(1.2);
    box-shadow: 0 0 10px #D9D9D9;
    transition: 0.5s;
    
}

.buttons .button img {
    height: 100px;
    width: 100px;
    border-radius: 50%;

    margin-bottom: -3px;
}

.buttons li {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
}




/* BUTTONS     

.buttons ul {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    padding: 0 20px;

    height:100%;
    gap: 2rem;
}

.buttons ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.buttons h3 {
    color: white;
    font-size: medium;
}

.buttons ul button {
    
    height: 120px;
    width: 120px;

    border-radius: 50%;
    border-style: groove;
    border-color: azure;

    cursor: pointer;
}

.buttons ul button img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border-color:black;
    border-style: groove;
}
*/

/* CHARACTERS

.character {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    margin-left: -40rem;
    margin-top: -5rem;

    position: relative;
    opacity: 0.9;
    display: none;
}

.character img {
    height: 110%;
    width: 110%;
    object-fit: cover;

    z-index: 0;
}

.character.selected {
    display: block;
}
*/

/* DESCRIPTIONS


.discriptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    height: 100vh;
    width: 40%;
    margin-left: 100px;

    z-index: 1;
}

.discriptions .element-name {
    display: flex;
    align-items: center;
    gap: 30px;

    color: white;
    font-size: x-large;

    margin-bottom: 50px;
}


.discriptions .texts {
    margin-bottom: 50px;
}

.discriptions .text {
    color: white;
    font-size: x-large;

    width: 80%;
    margin-left: 30px;
    display: none;
}

.discriptions .text.selected {
    display: block;
}

.discriptions .icons {
    display: flex;
    align-items: start;

    width: 60%;
    margin-left: 30px;
}

.discriptions .icons .img {
    position: absolute;
    margin: 10px;

    filter: invert(1);
    z-index: 2;
    display: none;

}

.discriptions .icons .img.selected {
    display: block;
} 

.discriptions .icons img {
    height: 80px;
    width: 100%;

}

.discriptions .icons video {
    width: 100%;

    position: relative;
    left: 0;

    border-top-right-radius: 6rem;
    border: 2px solid gray;
    z-index: 1;
}

.discriptions .icons .video {
    width: 100%;
    height: 80%;

    position: relative;
    left: 0;
    display: none;
}

.discriptions .icons .video.selected {
    display: block;
}
*/