*, ::before, ::after {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {

    list-style: none;
}

p, h1, h2, h3 {
    
    position: left;
    font-size: 10px;
}

body {
    height: 100%;
}

main {
    display: flex;
    min-height: 100svh;
}