*, ::before, ::after {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {

    list-style: none;
}

body {
    height: 100%;
    overflow: hidden;

}

main {
    /* min-width: 15rem;
    min-height: 16rem; */
    background-image: url(../images/back-image-jingliu.png);
    /* background-attachment: fixed;
    background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;

    display: flex;

    height: 100vh;
    width: 100%;
}